[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = bhopkins23
	email = 132714252+bhopkins23@users.noreply.github.com
